<header class="flex w-screen p-3 items-center shadow-md gap-3">
  <h1 class="text-2xl font-bold">UppIt</h1>
  <% if(!locals.user) { %>
  <a
    class="border p-2 ml-auto px-5 text-black rounded-md border-gray-400 bg-gray-100 hover:bg-black hover:text-white transition-colors"
    href="/login"
    >Login</a
  >
  <%} else { %>
  <p class="ml-auto"><%= user.username %></p>
  <a
    class="border p-2 px-5 text-black rounded-md border-gray-400 bg-gray-100 hover:bg-black hover:text-white transition-colors"
    href="/logout"
    >Logout</a
  >
  <% } %>
</header>
