<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>UppIt</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main class="flex items-center h-100 justify-evenly">
      <div class="">
        <h2 class="text-4xl">Simple and Secure Cloud Storage</h2>
        <p class="text-neutral-500">
          Keep your files safe and accessible whenever you need them.
        </p>
        <a
          class="border mt-2 block p-2 px-5 w-fit text-black rounded-md border-gray-400 bg-gray-100 hover:bg-black hover:text-white transition-colors"
          href="/login"
          >Login</a
        >
      </div>
    </main>
  </body>
</html>
